 body{
    background-color:rgb(57, 92, 92);
    color:black;
}
.main{
   position:fixed;
   top:0;
   left:0;
   width:100%;
   padding:5px 15%;
   background: rgb(6, 116, 97);
   display:flex;
   justify-content: space-between;
   align-items: center;
   margin-top:-1%;
 }
 .navbar {
    width:80%;
    display:flex;
    margin:auto;
    text-align:center;
    justify-content: space-between;
 }
 ul{
    margin-top: 1%;
 }
 ul li{
    list-style:none;
    display:inline-block;
    padding:12px 19px;
 }
 ul li a{
   font-size: 22px;
    color:rgb(100, 13, 20);
    text-decoration:solid;
    font-weight:bold;
    margin-top: -3%;
    text-align: right;
    transition: .5s ease ;
 }
 ul li a:hover{
    color:red;
 }
 
 .home{
    font-size: 25px;
    margin-top:8%;
    font-style:oblique;
    color:black;
    margin-left: 5%;
 }
 .para{
    font-size: 22px;
    text-align: left;
    margin-right: 40%;
    margin-left:5% ;
    color:black;
 }
 #front{
     border-radius: 50%;
    border:2px solid skyblue;
    margin-left:80%;
    margin-top: -18%;
    margin-bottom: 30px;
 }

 .feature{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
 }
 .lan h3{
    color:orangered;
    font-size: 25px;
 }
 .lan{
   height:220px;
   width:220px;
   margin:50px;
   box-shadow: -1px 0 10px white;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   color:white;
   font-size: 20px;
   text-align:center;
   margin-top: -2%;
 
}
.lan:hover{
    background-color: rgb(68, 59, 56);
    color:black;
    cursor:pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
.lan a{
    text-decoration: none;
   color:white;
   background:mediumblue;
   margin:6px 6px;
   padding:6px 6px;
   border-radius: 10px;
   display:inline-block;
   margin-left: 10%;
   font-size:15px;
   margin-top: -8%;
   text-align: center;
   font-style:normal;
   transition: .4s ease;
}
.lan a:hover{
    background:red;
}
.content{ 
    display: flex;
    justify-content: space-between;
    gap:20px;
    background-color: rgb(54, 116, 116);
    width:103%;
    margin-left:-2%;
    margin-right: -10%;
    margin-bottom: -5%;
    
}


 .about h3{
    color:orangered;
    font-size: 22px;
    margin-left: 17%;
 }
 .about p{
    font-size: 20px;
     margin-left: 17%;
 }
 .lists h3{
    color:orangered;
    font-size: 22px;
    margin-left:-10% ;
 }
.lists ul{
    font-size: 20px;
    margin-left:-30% ;
}
.cont h3{
    color:orangered;
    font-size: 22px;
}
.cont p{
    font-size: 20px;
    
}
.cont{
    margin-right: 10%;
}
#dev{
     margin-left: 2%;
   margin-top:100px;
   float:left;
}
@media only screen and (max-width:480px){
   .main{
   position:fixed;
   top:0;
   padding:2px 4%;
   align-items: center; 
   margin-top:-1%;

 }
 .navbar {
    width:100%;
    
 }
 ul{
    margin-top: 1%;
 }
 ul li{
    padding:1px 5px;
 } 
 ul li a{
   font-size: 15px;
 }
 .home{
    font-size: 18px;
    margin-top:18%;
 }
 .para{
    font-size: 13px;
    text-align: left;
 
 }
 #front{
    margin-left:70%;
    height:80px;
    width:80px;
    margin-top: -40%;
 }


 .lan h3{
    
    font-size: 15px;
 }
 .lan{
   height:150px;
   width:200px;
   /* margin:50px; */
   font-size: 10px;
   margin-top: -2%;
    margin-left: 5%;
 
}

.lan a{
   margin:4px 4px;
   padding:3px 4px;
   font-size:6px;
}

 .about h3{
    
    font-size: 15px;
    margin-left: 17%;
 }
 .about p{
    font-size: 8px;
     margin-left: 17%;
 }
 .lists h3{
    
    font-size: 15px;
    margin-left:-10% ;
 }
.lists ul{
    font-size: 8px;
    margin-left:-30% ;
}
.cont h3{
    
    font-size: 15px;
}
.cont p{
    font-size: 8px;
    
}
.cont{
    margin-right: 10%;
}

}
